*{
    font-family: 'Inter', sans-serif;
}

html {
    background-color: rgb(255, 222, 235);
 }
 

 header{
    background-color:#e17aa7;
    align-items:flex-start;
    justify-content: flex-end;
 }

h1 {
    color: rgb(49, 33, 33);    
    font-size: 270%;
    font-weight: bolder;
}


nav{
    text-align: right;
    font-size: 170%;    
}


h2{
   align-items: flex-end;
   font-size: 45px;
   padding: 200px;
   margin-top: -175px;
   left: -70px;
   width: 300px;
   position: absolute;}


img{
    position: absolute;
    height: 375px;
    width: 300px;
    top: 240px;
    left: 95px;
    
    
}
 section_2{
    position: absolute; 
    font-size: 17px;
    border-left: 4px solid #e17aa7;
    padding-left: 4px;
    left: 450px;
    right: 40px;
    top: 240px;
 }

h3{
    position: absolute;
    margin-top: 550px;
    left: 150px;
    font-size: 22px;
    font-weight: bold;
 
}

.ryi{
    position: absolute;
    margin-top: 800px;
}


.lrb{
    position: absolute;
    margin-top: 900px;
}

footer{
    position: absolute;
    margin-top: 1000px;
    left: 300px;
}






